.mainCont {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    margin-bottom: 40px;
}

.bodyForm {
    width: 25%;
    background-color: #D4D2F6;
    padding-left: 40px;
    padding-right: 0px;
    border-radius: 0px;
    margin: 0px 0;
   
}

.bodyForm h2 {
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.bodyForm p {
    color: #208f0a;
}

.form-body {
    margin-bottom: 10px;

}

.form-body label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-align: left;
}

.form-body input, .form-body textarea {
    width: 82%; /* Full width for better flexibility on all screen sizes */
    padding: 10px; 
    margin: 5px 0;
    background-color: #F4F2FF;
    border: 1px solid #fffefe;
    border-radius: 5px;
    font-size: 16px;
}

.form-body textarea {
    height: 80px; /* Set height for text areas */
}

.form-button input {
    padding: 10px 20px;
    background-color: #140C73;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 88%; /* Full width on smaller screens */
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button input:hover {
    background-color: #370398fe;
}

.line {
    flex: 1 1 100%;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 0%;
    width: 88%; /* Adjusted to 100% for flexibility */
    border-top: 2px solid #140C73;
}

.details p {
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: #050505;
    padding-top: 0px;
    padding-right: 37px;
    margin-bottom: 15%;
}

.details p svg {
    padding-bottom: 0%;
    margin-right: 40px;
    color: #413BA4;
    font-size: 18px;
}

.map {
    max-width: 100%;
    margin: 3.5% auto 3%; /* Centering map on smaller screens */
}

.map iframe {
    max-width: 100%; /* Full width on all screens */
    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .bodyForm {
        width: 50%; /* Adjust form width for tablets */
        padding-left: 20px;
        padding-right: 20px;
    }

    .line {
        width: 90%; /* Shrinking line width on medium-sized screens */
    }
}

@media (max-width: 768px) {
    .bodyForm {
        width: 100%; /* Full width for small devices */
        padding-left: 20px;
        padding-right: 20px;
    }

    .mainCont {
        flex-direction: column; /* Stack the elements on small screens */
    }

    .line {
        width: 100%; /* Full width line on small screens */
    }

    .map {
        margin-right: 3%; /* Remove right margin on small screens */
        margin-left: 6%;
        margin-top: 6%;
        margin-bottom: 6%;
    }
}